body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    font-size: 5em;
}

/* style table */

.turn-red {
    background-color: red;
}

table {
    border: solid 1px;
}

th {
    border: solid 1px;
    padding: 3px;
}